.device-details-page{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #fafafa;
    font-size: 15px;
}
.device-details-container{
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px 0 rgba(0 0 0 / 5%); 
    margin-bottom: 20px;
}
.device-details-page img{
    height: 100px;
    width: 100px;
}
.device-name{
    font-weight: bold;
    font-size: 14px;
    margin-top: 14px;

}
.device-details-flex{
    display: flex;
}
.storage-grid{
    margin-left: 0;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    background-color: transparent;
    display: grid;
}
.grid-item-storage{
    padding: 9px;
    border: solid 1px rgb(240, 240, 240);
    cursor: pointer;
    transition: .5s;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0 0 0 / 5%); 
}
.grid-item-storage:hover{
    background-color: whitesmoke;
  
}
.btn-eval{
    padding: 13px 35px;
    border-radius: 3px;
    color: white !important;
    border: none;
    font-size: 13px;
    font-weight: 600;
    background: #7497ff;
    box-shadow: 0 0 10px 0 rgba(0 0 0 / 21%);
    margin-top: 10px;
}
.device-brand{
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 10px;
    color: #7497ff;
    font-weight: 600;
}