.modal-prompt-container{
    position: fixed;
    background-color: rgb(0,0,0, .7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal-prompt{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 70vh;
    background-color: white;
    border-top-left-radius:6px ;
    border-top-right-radius: 6px;
    padding-top: 40px;
    font-weight: 600;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}
.close-modal{
    background-color: #7497ff;
    padding: 9px;
    color: #fff;
    padding-right: 13px;
    padding-left: 13px;
    box-shadow: 0 0 10px 0 #7497ff36;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
.modal-group{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.para{
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}
.question-page{
    padding: 10px;
    font-size: 14px;
}  
.question-group{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;

}
.question-items{
    border: solid 1px #7497ff21;
    padding: 10px;
    font-size: 13px;
}
.question-items p{
    margin-top: 10px;
}
.qs-subtext{
    font-size: 10px;
    color: rgb(175, 175, 175);
    line-height: 1px;
    margin-bottom: 10px;
}
.qs-btn{
    background-color: #7497ff;
    padding: 10px;
    color: white;
    text-align: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(#7497ff / 14%);
    margin-top: 20px;
}
.radio-group{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}
.radio-group div{
    display: flex;
    margin-bottom: 6px;
}
.radio-group div span{
    margin-left: 7px;
}