.modal-prompt-container{
    position: fixed;
    background-color: rgb(0,0,0, .7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.modal-prompt{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 70vh;
    background-color: white;
    border-top-left-radius:6px ;
    border-top-right-radius: 6px;
    padding-top: 40px;
    font-weight: 600;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}
.modal-prompt img{
    width: 250px;
}
.close-modal{
    background-color: #7497ff;
    padding: 9px;
    color: #fff;
    padding-right: 13px;
    padding-left: 13px;
    box-shadow: 0 0 10px 0 #7497ff36;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
.blur-add{
    filter: blur(4px);
}
.modal-group{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.para{
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}
.question-page{
    padding: 10px;
    font-size: 14px;
}  
.question-group{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;

}
.question-items{
    padding: 10px;
    font-size: 13px;
}
.question-items p{
    margin-top: 10px;
}
.qs-subtext{
    font-size: 10px;
    color: rgb(175, 175, 175);
    line-height: 1px;
    margin-bottom: 10px;
}
.radio-select{
    padding: 8px;
    background-color: #fafafa;
    border: solid 1px whitesmoke;
    border-radius: 5px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.radio-select:hover{
    background-color: #f7f7f7;
}
.qs-btn button{
    background-color: #7497ff;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 #7497ff67;
    padding: 10px;
    position: fixed;
    width: 94%;
    bottom: 10px;
}
.qs-btn {
    position: fixed;
    bottom: 10px;
    right: 0;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-items: center;
}
.radio-group{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}
.radio-select div{
    margin-left: 9px;
    font-size: 14px;
    font-weight: 500;
}