.cart-item{
    padding: 10px ;
    line-height: 40px;
   background-color: white;
   margin: 10px 0;
   border-radius: 10px;
}
.cart-item-container{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    
}
.cart-container{
    padding: 15px;
    background-color: #fafafa;
    min-height: 500px;
}
.remove-btn{
    background-color: #7497ff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
.cart-item-name{
    font-weight: 600;
}
.cart-item-price{
    color: #7497ff;
    font-size: 13px;
}