.cart-item{
    padding: 10px ;
    line-height: 40px;
   background-color: white;
   margin: 10px 0;
   border-radius: 10px;
}
.cart-item-container{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    min-height: 70vh;
}
.cart-container{
    padding: 15px;
    background-color: #fafafa;
    min-height: 300px;
}
.remove-btn{
    background-color: #7497ff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
.cart-item-name{
    font-weight: 600;
}
.cart-item-price{
    color: #7497ff;
    font-size: 13px;
}
.total-item-and-checkout{
    background-color: white;
 
}
.cart-total-group{
    padding: 13px;
}
.cart-total{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: solid 2px black;
    font-size: 14px;
}
.order-summary{
    width: 100%;
    padding: 15px;
    background-color: #7497ff;
    color: white;
    text-align: center;
    border: none;
}

@media(min-width: 767px){
    .cart-container{
        display: grid;
       grid-template-columns: 60% 40%
    }
    .total-item-and-checkout{
        position: fixed;
        top: 140px;
        right: 10px;
        height: 70vh;
        width: 40%;
        box-shadow: 0 0 7px 0 rgba(0 0 0 / 10%);
    }
    .checkout{
        position: absolute;
        bottom: 0;
    }
}
@media(min-width: 901px ){
    .cart-container{
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .total-item-and-checkout{
        width: 30%;
    }
}