.card-container{
    display: grid;
    grid-template-columns: repeat(100, 290px);
    align-items: start;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
   
}
.cards{
  background-color: #6298ff;
    padding: 10px;
    color: white;
    max-width: 290px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 1px 1px #dfdfdf;
   
    

}
.cashman{
    background-image: url('../assets/OIP.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    
   
}
.handphone{
    background-image: url('../assets/Handphone.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat; 
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.029);
}
.btn-fixed{
    position: absolute;
    margin-top: -100px;
    left: 0;

}
.btn-fixed-right{
    position: absolute;
    margin-top: -100px;
    right: 0
    
}
.title-text{
    font-size: 12px;
}

.text-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 130px;
    font-weight:500;
}
.isRound{
    color: black;
}
.sub-text{
    font-size: 14px;
}
.last-text{
    font-size: 11px;
}
.lg-card{
    display: none;
    background-color: rgb(116, 151, 255);
    min-height: 350px;
    padding: 45px;
    color: white;
    font-weight: bolder;
}
.cards img{
    width: 50px;
    height: 50px;
}
.lg-card span{
    font-size: 25px;
}
.lg-card p{
    color: white;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media(min-width: 812px){
    .card-container{
        display: none;
    }
    .lg-card{
        display: flex;
    }
    .btn-fixed,.btn-fixed-right{
        display: none;
    }
}
@media(max-width: 300px){
    .cards{
        height: 120px;
        max-width: 230px;
        margin: 5px;
    }
    .title-text{
        font-size: 10px;
    }
    .sub-text{
        font-size: 12px;
    }
    .last-text{
        font-size: 9px;
    }
}
@media(max-width:500px ){
    .btn-fixed,.btn-fixed-right{
        display: none;
    }
}
@media(min-width: 500px){
    .btn-fixed-right,.btn-fixed{
        display: block;
    }
}