.city-grid{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    color: white;
    font-size: 16px;
}

.cities{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    color: black;
    margin: 10px;
    box-shadow: 0 0 6px 0 rgba(0 0 0 / 19%);

}