.header-container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 14%);;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
    background: white;
}
.logo{
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: -1px;
   display: flex;

   color: rgb(116, 151, 255);
   align-items: center;
}
.logo a{
    color: rgb(116, 151, 255);
}
.menu{
    color: rgb(27, 27, 100);
    font-size: 30px !important;
  
}
@media(min-width: 812px){
    .menu{
        display: none;
    }
   
}