.how-container{
    padding: 15px;
    background-color:#eff7f4;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.how-serial{
    background-color: rgb(116, 151, 255);
    padding: 2px;
    border-radius: 50px;
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    font-weight: bold;
}
.how-group{
    margin-left: 20px;
}
.how-flex{
    margin: 10px;
}
.how-node{
    padding: 10px;
    padding-left: 18px;
    font-size: 13px;
    font-weight: 500;
}
.how-cont-title{
    border-left: solid 6px rgb(116, 151, 255);
    padding: 5px;
    font-weight: 500;
}
@media(min-width:767px){
    .how-child-flex{
        display: grid;
       grid-template-columns: repeat(3, auto);
        padding: 50px;
        align-content: stretch;
        justify-content: baseline;
        justify-items: flex-start;
    }
    .how-serial{
        padding: 8px;
        font-size: 17px;
        border-radius: 50px;
        padding-left: 13px;
        padding-right: 13px;
        margin: 10px;
    }
    .how-container{
        background-color: white;
    }
    .how-node{
        font-size: 15px;
        color: grey;
        margin: 14px;
    }
}