.how-container{
    padding: 15px;
    background-color:#edf1fa;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.how-container img{
    width: 35px;
    height: 35px;
}
.how-serial{
    background-color: rgb(116, 151, 255);
    padding: 2px;
    border-radius: 50px;
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    font-weight: bold;
}
.how-group{
    margin-left: 20px;
}
.how-flex{
    margin: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.how-node{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
}
.how-cont-title{
    border-left: solid 6px rgb(116, 151, 255);
    padding: 5px;
    font-weight: 500;
}
@media(min-width:767px){
    .how-child-flex{
        display: grid;
       grid-template-columns: repeat(3, auto);
        padding: 50px;
        align-content: stretch;
        justify-content: baseline;
        justify-items: flex-start;
        padding-left: 80px;
    }
    .title-and-serial{
        margin-top: 15px;
    }
    .how-serial{
        padding: 5px;
        font-size: 12px;
        border-radius: 50px;
        padding-left: 9px;
        padding-right: 9px;
        margin-right: 10px;
    }
    .how-container{
        background-color: white;
    }
    .how-node{
        font-size: 13px;
        color: grey;
    }
    .how-flex{
        flex-direction: column;
        align-items: flex-start;
    }
    .how-group{
        margin: 0;
    }
    .how-container img{
        margin-left: 50px;
    }
}
@media(min-width:901px){
    .how-container img{
        width: 50px;
        height: 50px;
    }
}