.why-us-container{
    padding: 15px;
    background-color: #edf1fa;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.why-us-container span{
    border-left: solid 6px rgb(116, 151, 255);
    padding: 5px;
    font-weight: 500;
}
.why-us-details{
  
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    align-content: space-evenly;
}
.why-us-node{
    margin: 15px;
    font-size: 11px;
}
.why-us-title{
    font-weight: 600;
     font-size: 14px;
      margin-bottom: 4px
}
.why-us-container img{
    width: 35px;
    height: 35px;
}
@media(min-width: 1024px){
   .why-us-node{
    font-size: 16px;
   }
   .why-us-title{
       font-size: 18px;
   }
   .why-us-details img{
       width: 60px;
       height: 60px
   }
}