.why-us-container{
    padding: 15px;
    background-color: #eff7f4;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.why-us-container span{
    border-left: solid 6px rgb(116, 151, 255);
    padding: 5px;
    font-weight: 500;
}
.why-us-details{
  
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    align-content: space-evenly;
}
.why-us-node{
    margin: 15px;
    font-size: 11px;
}