.account-page{
    min-height: 500px;
}
.account-links{
    color: black;
    display: flex;
    flex-direction: column;
}
.account-links a{
    color: black
}
.link-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500
}
.account-links-child{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    transition: all ease-in-out .3s;
}
.circle{
    background-color: #414659;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    position: absolute;
    margin-right: -30px;
    margin-top: -10px;
    z-index: 1;
}
.circle2{
    height: 90px;
    width: 90px;
    border-radius: 50px;
    position: relative;
    float: right;
    margin-top: 0px;
    margin-right: 30px;
    background-color: #22222c;
}
.circContainer{
    align-self: flex-end;
    margin-bottom: -60px;
    position: relative;
}
.account-links-child:hover{
    background-color: #fafafa;
    transform: scale(1.02) ;
}
.account-icon{
    color: #7497ff;
    font-size: 17px;
    margin-right: 8px;
}
.account-greeting{
    display: flex;
    justify-content: space-between;
    margin: 18px;

}
.account-greeting img{
    width: 40px;
}
.account-title{
    padding: 15px;
}
.account-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px rgb(232, 232, 232);
    text-align: center;
    padding: 20px;
}
.stay{
    position: absolute;
}
.af-child{
    font-size: 8pt;
}
