.account-page{
    min-height: 500px;
}
.account-links{
    color: black;
    display: flex;
    flex-direction: column;
}
.account-links a{
    color: black
}
.link-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500
}
.account-links-child{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    transition: all ease-in-out .3s;
}
.account-links-child:hover{
    background-color: #fafafa;
    transform: scale(1.02) ;
}
.account-icon{
    color: #7497ff;
    font-size: 17px;
    margin-right: 8px;
}
.account-greeting{
    display: flex;
    justify-content: space-between;
    margin: 18px;

}
.account-greeting img{
    width: 40px;
}
.account-title{
    padding: 15px;
}
.account-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px rgb(232, 232, 232);
    text-align: center;
    padding: 20px;
}
.stay{
    position: absolute;
}
.af-child{
    font-size: 8pt;
}
